@{
    ViewData["Title"] = "Month End Process";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <div class="form-group disabled-container">
                    <label>Month/Year</label>
                    <input id="MonthYear" value="@ViewBag.currentMonthYear" class="form-control disabled" type="text">
                </div>
            </div>
        </div>
        <div class="custom-control custom-checkbox form-group">
            <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" id="UpdateAccount">
            <label for="UpdateAccount" class="custom-control-label font-weight-normal">Update Account</label>
        </div>
        <button type="button" class="btn btn-info" onclick="saveVehicle(this)">Submit</button>
    </div>
</div>
@section scripts {
    <script></script>
}