@{
    ViewData["Title"] = "Month End Process";
}
<div class="card">
    <div class="card-body">
        <form id="month-end-frm" method="post" action="SaveMonthEndProcess">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group disabled-container">
                        <label>Month/Year</label>
                        <input id="MonthYear" name="MonthYear" value="@ViewBag.currentMonthYear" class="form-control disabled" type="text">
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info" onclick="saveMonthEnd(this)">Submit</button>
        </form>
    </div>
</div>
@section scripts {
    <script>
        function saveMonthEnd(btn) {
            var frm = $("#month-end-frm");
            if (frm.valid()) {
                loadingButton(btn);
                frm.submit();
            }
        }
    </script>
}