@{
    ViewData["Title"] = "Document Renewal Approval";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button type="button" class="btn btn-info" onclick="showDocumentRenewalModal()">New Document Renew</button>
        </div>
        <table class="table table-sm" id="RenewalDocumentsApprovalDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Employee Name</th>
                    <th>Doc. Type</th>
                    <th>Doc. No</th>
                    <th>Trans. Date</th>
                    <th>Doc. Status</th>
                    <th>Narration</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script src="~/js/page/transactions/document-renewal.js" asp-append-version="true"></script>
}