@{
    ViewData["Title"] = "Document Renewal";
}
<div class="card">
    <div class="card-header">
        <div style="width:350px" class="select2-container float-right">
            <select id="EmpCd" class="form-control select2">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-sm" id="RenewalDocumentsSearchDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Doc. Type</th>
                    <th>Doc. No</th>
                    <th>Issue Date</th>
                    <th>Issue Place</th>
                    <th>Expiry Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="DocumentRenewModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/transactions/document-renewal.js" asp-append-version="true"></script>
    <script>
        bindEmployeeDropdown();
    </script>
} 