@{
    ViewData["Title"] = "Employee Fund Aprroval";
}
<div class="card">
    <div class="table-responsive">
        <div class="card-body">
            <table class="table-sm table" id="EmpFundApprovalDataTable">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th>Trans. No.</th>
                        <th>Employee</th>
                        <th>Tran Dt</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts {
    <script>
        window["datatable"] = $('#EmpFundApprovalDataTable').DataTable(
            {
                ajax: "/Transactions/FetchEmpFundApprovalData",
                ordering: false,
                columns: [
                    {
                        data: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "transNo" },
                    {
                        data: function (row) {
                            return `${row.emp.trim()}(${row.empCd.trim()})`
                        }
                    },
                    {
                        data: function (row) {
                            return row.transDt && moment(row.transDt).format(CommonSetting.DisplayDateFormat);
                        },
                    },
                    {
                        data: function (row) {
                            return !row.amount ? row.amount : formatDecimal(row.amount)
                        },
                    },
                    {
                        data: function (row) {
                            return `<div class="d-flex"><button class="btn btn-sm btn-warning" onclick="showLeaveDetailModal('${row.empCd.trim()}','${row.transDt}')">
                                                <i class="fas fa-search"></i>
                                            </button>
                                                    <button class="btn btn-sm btn-info ml-2" onclick="showFundApprovalModal('${row.transNo.trim()}')" ${editEnable}>
                                                <i class="fas fa-check"></i>
                                            </button>
                                                            <button class="btn btn-sm btn-danger ml-2" onclick="showFundApprovalModal('${row.transNo.trim()}',true)" ${editEnable}>
                                                <i class="fa fa-times"></i>
                                            </button></div>`;
                        }, "width": "120px"
                    }
                ],
            }
        );
    </script>
}