@{
    ViewData["Title"] = SharedResource["Employee Fund Disburse"];
}
<div class="card">
    <div class="card-body">
        <table class="table table-sm" id="EmpFundDisburseDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Trans. No.</th>
                    <th>Employee</th>
                    <th>Branch</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="EmpFundDisburseModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script>
        window["datatable"] = $('#EmpFundDisburseDataTable').DataTable(
            {
                ajax: "/Transactions/FetchEmpFundDisburseData",
                ordering: false,
                columns: [
                    {
                        data: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "transNo" },
                    {
                        data: function (row) {
                            return `${row.emp.trim()}(${row.empCd.trim()})`
                        }
                    },
                    { data: "div" },
                    {
                        data: function (row) {
                            return !row.amount ? row.amount : formatDecimal(row.amount)
                        },
                    },
                    data: function (row) {
                        return `<button class="btn btn-sm btn-warning" onclick="showLeaveDetailModal('${row.empCd.trim()}')">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                                    <button class="btn btn-sm btn-info ml-2" onclick="showFundDisburseModal('${row.transNo.trim()}')">
                                                                <i class="fas fa-check"></i>
                                                            </button>`;
                    }, "width": "80px"
                            }
                        ],
                    }
        );

        function showFundDisburseModal(transNo, reject) {
            var url = `/Transactions/GetEmpFundDisburse?transNo=${transNo}`;
            $('#EmpFundDisburseModal').load(url, function () {
                parseDynamicForm();
                if (!reject) {
                    var amt = $('#Amount').attr("data-max");
                    setTimeout(function () {
                        $('#Amount').rules("add", {
                            max: Number(amt),
                            messages: {
                                max: `Please enter a number less than or equal to ${amt}`
                            }
                        });
                    }, 500)
                    $("#Status").val("0");
                }
                else {
                    $("#approval-div").addClass("d-none");
                    $("#approval-div input").val("");
                    $("#btn-submit").text("Reject");
                    $("#btn-submit").removeClass("btn-info").addClass("btn-danger");
                    $("#Status").val("1");
                }
                $("#EmpFundDisburseModal").modal("show");
            });
        }

        function saveFundDisburse(btn) {
            var frm = $("#fund-disburse-frm");
            if (frm.valid()) {
                loadingButton(btn);
                postAjax("/Transactions/SaveEmpFundDisburse", frm.serialize(), function (response) {
                    if (response.success) {
                        showSuccessToastr(response.message);
                        $("#EmpFundDisburseModal").modal("hide");
                        reloadDatatable();
                    }
                    else {
                        showErrorToastr(response.message);
                    }
                    unloadingButton(btn);
                });
            }
        }
    </script>
}