@{
    ViewData["Title"] = "Employee Loan Adjustment/Closing";
}
<div class="card">
    <div class="card-header">
        <div class="col-md-4 float-right">
            <div class="select2-container" data-width="100%">
                <select id="EmpCd" class="form-control select2" data-index="1">
                    <option value=""></option>
                </select>
            </div>
       </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-sm table" id="EmployeeLoanAdjustmentDataTable">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th></th>
                        <th>Trans. No.</th>
                        <th>Employee</th>
                        <th>Loan Type</th>
                        <th>Amount</th>
                        <th>Appr Amt</th>
                        <th>No.Inst</th>
                        <th>Purpose</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="EmployeeLoanAdjustModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/transactions/loan-adjustment.js" asp-append-version="true"></script>
}