@{
    ViewData["Title"] = "Employee Loan Adjustment";
}
<div class="card">
    <div class="card-body">
        <table class="table table-sm" id="EmployeeLoanAdjustmentDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Trans. No.</th>
                    <th>Employee</th>
                    <th>Loan Type</th>
                    <th>Amount</th>
                    <th>Appr Amt</th>
                    <th>No.Inst</th>
                    <th>Purpose</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="EmployeeLoanAdjustModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/transactions/loan-adjustment.js" asp-append-version="true"></script>
}