@{
    ViewData["Title"] = "Employee Leave Salary/Ticket Disburse";
}
<div class="card">
    <div class="card-body">
        <table class="table table-sm" id="EmployeeLeavesSalaryConfirmDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Employee</th>
                    <th>Branch</th>
                    <th>Leave Salary</th>
                    <th>Leave Ticket</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="EmployeeLeaveSalaryConfirmModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/transactions/leave-salary-confirm.js" asp-append-version="true"></script>
}