@{
    ViewData["Title"] = "Employee Leave Confirm/Revise/Cancel";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Employee</label>
                    <select id="EmpCd-Filter" class="form-control select2 filter-select2" data-index="1">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Branch</label>
                    <select class="form-control filter-select-picker" asp-items="ViewBag.BranchItems" data-index="2" id="Branch-Filter">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Department</label>
                    <select id="Department-Filter" class="form-control filter-select-picker" asp-items="ViewBag.DepartmentItems" data-index="3">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-sm table" id="EmployeeLeavesDataTable">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Employee</th>
                        <th>Date Range</th>
                        <th>Leave Type</th>
                        <th>Application Date</th>
                        <th>Designation</th>
                        <th>Branch</th>
                        <th>Appr./Rej. By</th>
                        <th>Appr./Rej. Date</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="EmployeeLeaveConfirmModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/transactions/leave-confirm.js" asp-append-version="true"></script>
}
