@model GetRepo_EmpFinalSettlement_Result
@{
    ViewData["Title"] = SharedResource["Employee Final Settlement Letter"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_EmpSettlementLetter" model="Model" />
</body>
</html>