@model VariablePayDedComponentFilterModel
@{
    ViewData["Title"] = "Variable Pay & Deduction Components";
}
<div class="card">
    <div class="card-body">
        <form id="variable-pay-deduction-comp-filter-frm">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Branch"></label>
                        <select asp-for="Branch" class="form-control select-picker" asp-items="ViewBag.BranchItems">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <select asp-for="Department" class="form-control filter-select-picker" asp-items="ViewBag.DepartmentItems">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="PayType"></label>
                        <select asp-for="PayType" class="form-control select-picker" asp-items="ViewBag.PayTypeItems" onchange="bindComponentClass(this)">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="PayCode"></label>
                        <select asp-for="PayCode" class="form-control filter-select-picker">
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="MonthYear"></label>
                        <input asp-for="MonthYear" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker">
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <div class="form-group mt-4">
                        <button type="button" class="btn btn-warning mt-2" onclick="searchComponents(this)" id="btn-search"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-outline-info mt-2 ml-1 d-none" id="btn-excel"><i class="fa fa-file-excel"></i></button>
                        <button class="btn btn-secondary mt-2 ml-1 d-none" type="button" id="btn-clear" onclick="clearSearch(this)">Clear</button>
                    </div>
                </div>
            </div>
            <h5 class="mt-2 mb-4 side-separator-container"><span class="side-separator">OR</span></h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-file">
                        <input type="file" id="import-file" name="file" onchange="uploadFile()" class="custom-file-input">
                        <label class="custom-file-label" id="image-file-label" for="import-file">Choose file</label>
                    </div>
                    <a href="/formats/Emp_Variable_Pay_Compoments_Import_Sample.xlsx">Download Sample File</a>
                </div>
            </div>
        </form>
        <div id="excel-import-data"></div>
        <div id="EmpVariablePayDedComponents"></div>
    </div>
</div>
<style>
    .tooltip-inner {
        max-width: 300px;
    }
</style>
@section scripts {
    <script>
        function bindComponentClass(e) {
            $("#PayCode").empty();
            getAjax(`/Transactions/FetchPayCodeItems?type=${e.value}`, function (response) {
                var html = ''
                $.each(response, function (i, item) {
                    html += `<option value='${item.value}'>${item.text}</option>`
                })
                $("#PayCode").html(html);
                $("#PayCode").attr("title", "-- Select --");
                $("#PayCode").selectpicker('refresh');
            });
        }
        function searchComponents(btn) {
            var frm = $("#variable-pay-deduction-comp-filter-frm");
            if (frm.valid()) {
                loadingButton(btn);
                postAjax(`/Transactions/FetchEmpVariablePayDedComponents`, frm.serialize(), function (response) {
                    $("#import-file").val("");
                    $("#EmpVariablePayDedComponents").html(response);
                    $("#excel-import-data").empty();
                    $("#btn-clear").removeClass("d-none");
                    unloadingButton(btn);
                });
            }
            else
                showErrorToastr("Please provide highlighted field");
        }
        function clearSearch(btn) {
            var frm = $("#variable-pay-deduction-comp-filter-frm");
            frm.find("input").val("");
            frm.find(".select-picker").selectpicker('val', '');
            frm.find(".filter-select-picker").selectpicker('val', '');
            $("#MonthYear").val('@ViewBag.currentMonthYear');
            $("#EmpVariablePayDedComponentsTable").empty();
            $("#excel-import-data").empty();
            $("#btn-clear").addClass("d-none");
        }
        function updateComponants(btn) {
            var frm = $("#variable-component-frm");
            if (frm.valid()) {
                loadingButton(btn);
                var url = `/Transactions/SaveEmpVariablePayDedComponents`;
                postAjax(url, decodeURI(frm.serialize()), function (response) {
                    if (response.success) {
                        showSuccessToastr(response.message);
                        searchComponents();
                    }
                    else {
                        showErrorToastr(response.message);
                    }
                    unloadingButton(btn);
                });
            }
        }
        function uploadFile() {
            var frm = $("#variable-pay-deduction-comp-filter-frm");
            if (frm.valid()) {
                filePostAjax('/Transactions/ImportEmpVariablePayDedComponent', frm[0], function (response) {
                    $("#import-file").val("");
                    if (!response.includes("not supported")) {
                        $("#EmpVariablePayDedComponents").empty();
                        $("#excel-import-data").html(response);
                        var tableRowCnt = $("#ExecelData tbody tr").length;
                        if (tableRowCnt == 0)
                            $("#excel-import-data").empty();
                    }
                    else
                        showErrorToastr(response);
                });
            }
            else
                showErrorToastr("Please provide highlighted field");
            $("#import-file").val("");
        }
    </script>
}