@model  List<dynamic>
<div class="@ViewBag.TableResponsiveClass">
    <table class="table table-sm" id="PayRegisterFormat1" style="font-size:x-small">
        <thead class="thead-dark">
            <tr>
                @foreach (var columnName in ((IDictionary<string, object>)Model[0]).Keys)
                {
                    <th>@columnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    @foreach (var column in (IDictionary<string, object>)row)
                    {
                        <td>@column.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>