@{
    Layout = null;
    var loggedInUser = _authService.GetLoggedInUser();
    var companyDetail = _settingService.GetCompany(loggedInUser.CompanyCd, loggedInUser.CoAbbr);
    string add1 = !string.IsNullOrEmpty(companyDetail.Add2) ? $"{companyDetail.Add1}," : companyDetail.Add1;
    string add2 = !string.IsNullOrEmpty(companyDetail.Add3) ? $"{companyDetail.Add2}," : companyDetail.Add2;
}
<div class="row">
    <div class="col-12">
        <h4>
            <img src="~/uploads/company/@companyDetail.Logo" height="40" />
            @companyDetail.CoName
            <small class="float-right"><span class="font-weight-bold">Print Date & Time:</span> @DateTime.Now</small>
        </h4>
    </div>
    <div class="col-12">
        <h5>Address: @add1 @add2 @companyDetail.Add3</h5>
    </div>
    <!-- /.col -->
</div>
<h3 class="text-center mb-3">@ViewData["Title"]</h3>