@model IEnumerable<Employee_LeaveHistory_GetRow_Result>
@{
    ViewData["Title"] = SharedResource["Balance Transactions Report"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_BalanceTransactions" model="Model" />
</body>
</html>