@model IEnumerable<Employee_LeaveHistory_GetRow_Result>
@{
    ViewData["Title"] = "Balance Transactions Report";
    Layout = null;
    var detail = Model.FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <h6 class="text-right"><span class="font-weight-bold">Print Date & Time:</span> @DateTime.Now</h6>
    <partial name="_BalanceTransactions" model="Model" />
</body>
</html>