@model IEnumerable<GetRepo_Branch_Result>
@{
    ViewData["Title"] = SharedResource["Branch List Report"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_Branches" model="Model" />
</body>
</html>