@{
    ViewData["Title"] = SharedResource["Country List Report"];
}
<div class="card">
    <div class="card-body">
        <div class="report-btn-div mb-2">
            <button class="btn btn-outline-danger d-none" onclick="filterShowReport(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
            <button class="btn btn-outline-info ml-2 d-none" id="btn-excel"><i class="fa fa-file-excel"></i></button>
        </div>
        <div id="Countries"></div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script>
        filterShowReport();
        function loadGridData(btn) {
            var url = `/Reports/FetchCountries`;
            $('#Countries').load(url, function () {
                unloadingButton(btn);
                window["datatable"] = $('#CountriesReportTable').DataTable(dataTableDefaultOptions);
                if (window["datatable"].data().any())
                    $("#btn-pdf,#btn-excel").removeClass("d-none");
            });
        }
        function filterShowReport(btn, report) {
            loadGridData(btn);
            if (report) {
                var url = `/Reports/CountryListReport`;
                window.open(url);
            }
        }
    </script>
}