@model IEnumerable<GetRepo_Dept_Result>
@{
    ViewData["Title"] = "Department List Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_Departments" model="Model" />
</body>
</html>