@model IEnumerable<GetRepo_ExpiredDocument_Result>
@{
    ViewData["Title"] = "Expired Document Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_DocExpired" model="Model" />
</body>
</html>