@model IEnumerable<GetRepo_FixedPayrollCom_Result>
@{
    ViewData["Title"] = SharedResource["Employee Fixed Payroll Report"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_EmployeeFixedPayroll" model="Model" />
</body>
</html>