@{
    ViewData["Title"] = "Employee Loan Waiting for Disburse";
}
<div class="card">
    <div class="card-body">
        <div class="report-btn-div">
            <button class="btn btn-outline-danger ml-2 mb-3 d-none" onclick="filterShowReport(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
        </div>
        <div id="EmpLoans"></div>        
    </div>
</div>
@section scripts {
    <script>
        loadGridData();
        function loadGridData(btn) {
            loadingButton(btn);
            var url = `/Reports/FetchEmpLoanWaitingDisburse`;
            $('#EmpLoans').load(url, function () {
                unloadingButton(btn);
                if ($(".loan").length > 0)
                    $("#btn-pdf").removeClass("d-none");
            });
        }
        function filterShowReport(btn, report) {
            loadGridData(btn);
            if (report) {
                var frm = $("#filter-frm").serialize();
                var url = `/Reports/EmpLoanWaitingDisburseReport`;
                window.open(url);
            }
        }
    </script>
}
