@model IEnumerable<GetRepo_EmpLoan_Result>
@{
    ViewData["Title"] = "Emp Loan Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_EmpLoan" model="Model" />
</body>
</html>