@model IEnumerable<GetRepo_EmpShortList_Result>
@{
    ViewData["Title"] = "Employee Short List Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <h3 class="text-center mb-3">Employee Short List Report</h3>
    <h6 class="text-right"><span class="font-weight-bold">Print Date & Time:</span> @DateTime.Now</h6>
    <partial name="_EmpShortList" model="Model" />
</body>
</html>