@using Onyx.Models.ViewModels.Report
@{
    ViewData["Title"] = "Employee Short List Report";
}
@model EmpShortListFilterModel
<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EmpCd"></label>
                        <select asp-for="EmpCd" class="form-control select2">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Branch"></label>
                        <select class="form-control filter-select-picker" asp-for="Branch" asp-items="ViewBag.BranchItems"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <select asp-for="Department" class="form-control filter-select-picker" asp-items="ViewBag.DepartmentItems"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Designation"></label>
                        <select asp-for="Designation" class="form-control filter-select-picker" asp-items="ViewBag.DesignationItems"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Sponsor"></label>
                        <select asp-for="Sponsor" class="form-control filter-select-picker" asp-items="ViewBag.SponsorItems"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EmpCd"></label>
                        <select asp-for="EmpCd" class="form-control select2">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Branch"></label>
                        <select class="form-control filter-select-picker" asp-for="Branch" asp-items="ViewBag.BranchItems"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <select asp-for="Department" class="form-control filter-select-picker" asp-items="ViewBag.DepartmentItems"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Designation"></label>
                        <select asp-for="Designation" class="form-control filter-select-picker" asp-items="ViewBag.DesignationItems"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Sponsor"></label>
                        <select asp-for="Sponsor" class="form-control filter-select-picker" asp-items="ViewBag.SponsorItems"></select>
                    </div>
                </div>
                @* <div>
                <label>Visible Column:</label>
                <div class="input-group">
                <select class="form-control select-picker" multiple>
                <option>1</option>
                <option>2</option>
                </select>
                <button class="btn btn-secondary ml-2" onclick="filterShowCustomerTransactions(this)">Search</button>
                </div>
                <!-- /.input group -->
                </div> *@
            </div>
            <div class="report-btn-div">
                <button class="btn btn-outline-danger ml-2" onclick="filterShowCustomerTransactions(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
                <button class="btn btn-outline-info ml-2" id="btn-excel"><i class="fa fa-file-excel"></i></button>
            </div>
        </form>
        <hr />
        <table class="table table-sm" id="EmpShortListReportTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Employeee</th>
                    <th>Branch</th>
                    <th>Total</th>
                    <th>Personal No</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script>
        function loadReport() {
            var table = $('#EmpShortListReportTable').DataTable(
                {
                    ajax: "/Reports/FetchEmpShotListReportData",
                    ordering: false,
                    columns: [
                        {
                            data: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            data: function (row) {
                                return `${row.empName}(${row.code.trim()})`;
                            },
                        },
                        { data: "branch" },
                        { data: "total" },
                        { data: "passportNo" },
                    ],
                }
            );
        }
        loadReport();
        bindEmployeeDropdown();
    </script>
}