@using Onyx.Models.ViewModels.Report
@{
    ViewData["Title"] = "Employee Short List Report";
}
@model EmpShortListFilterModel
<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EmpCd"></label>
                        <select asp-for="EmpCd" class="form-control select2" data-placeholder="@CommonSetting.ALLSELECT">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Branch"></label>
                        <select class="form-control filter-select-picker" asp-for="Branch" asp-items="ViewBag.BranchItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <select asp-for="Department" class="form-control filter-select-picker" asp-items="ViewBag.DepartmentItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Designation"></label>
                        <select asp-for="Designation" class="form-control filter-select-picker" asp-items="ViewBag.DesignationItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Sponsor"></label>
                        <select asp-for="Sponsor" class="form-control filter-select-picker" asp-items="ViewBag.SponsorItems"></select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Period"></label>
                        <input asp-for="Period" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Nationality"></label>
                        <select asp-for="Nationality" class="form-control filter-select-picker" asp-items="ViewBag.NationalityItems">
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Age"></label>
                        <select class="form-control filter-select-picker" asp-for="Age">
                            @for (int i = 18; i < 65; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Qualification"></label>
                        <select asp-for="Qualification" class="form-control filter-select-picker" asp-items="ViewBag.QualificationItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="EmployeeType"></label>
                        <select asp-for="EmployeeType" class="form-control filter-select-picker" asp-items="ViewBag.EmpTypeItems"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <select asp-for="Status" class="form-control filter-select-picker" asp-items="ViewBag.StatusItems"></select>
                    </div>
                </div>

                @* <div>
                <label>Visible Column:</label>
                <div class="input-group">
                <select class="form-control select-picker" multiple>
                <option>1</option>
                <option>2</option>
                </select>
                <button class="btn btn-secondary ml-2" onclick="filterShowCustomerTransactions(this)">Search</button>
                </div>
                <!-- /.input group -->
                </div> *@
            </div>
            <div class="col-md-1">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="Active">
                    <label asp-for="Active" class="custom-control-label font-weight-normal">Active</label>
                </div>
            </div>
            <div class="report-btn-div">
                <button class="btn btn-secondary" onclick="filterShowCustomers(this)">Search</button>
                <button class="btn btn-outline-danger ml-2" onclick="" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
                <button class="btn btn-outline-info ml-2" id="btn-excel"><i class="fa fa-file-excel"></i></button>
            </div>
        </form>
        <hr />
        <table class="table table-sm" id="EmpShortListReportTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Employeee</th>
                    <th>Branch</th>
                    <th>Total</th>
                    <th>Personal No</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    
    <script>
        function loadReport() {
            var table = $('#EmpShortListReportTable').DataTable(
                {
                    ajax: "/Reports/FetchEmpShotListReportData",
                    ordering: false,
                    columns: [
                        {
                            data: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            data: function (row) {
                                return `${row.empName}(${row.code.trim()})`;
                            },
                        },
                        { data: "branch" },
                        { data: "total" },
                        { data: "passportNo" },
                    ],
                }
            );
        }
        loadReport();
        bindEmployeeDropdown();

        function generatePDF() {
            const element = $('#EmpShortListReportTable')[0];
            const opt = {
                margin: 1,
                filename: 'custom_pdf.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
                pagebreak: { mode: ['avoid-all'] },
                header: function () {
                    return '<h1 style="text-align: center;">Custom Header</h1>';
                },
                footer: function (currentPage, pageCount) {
                    return '<h1 style="text-align: center;">Page ' + currentPage + ' of ' + pageCount + '</h1>';
                }
            };
            html2pdf().from(element).set(opt).save();
        }

        // Bind click event to generate PDF button using jQuery
        $(document).ready(function () {
            $('#btn-pdf').click(function () {
                generatePDF();
            });
        });
    </script>
}