@model IEnumerable<Getrepo_Emptransfers_Result>
@{
    ViewData["Title"] = "Employee Transfer Report";
    Layout = null;
    var detail = Model.FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_EmpTransfer" model="Model" />
</body>
</html>