@{
    ViewData["Title"] = "Employee Transactions Report";
}
@model EmpTransactionFilterModel
<div class="card">
    <div class="card-body">
        <form id="filter-frm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EmpCd"></label>
                        <select asp-for="EmpCd" class="form-control select2" data-placeholder="@CommonSetting.DEFAULTSELECT">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="EmpCd" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="StartPeriod"></label>
                        <input asp-for="StartPeriod" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="EndPeriod"></label>
                        <input asp-for="EndPeriod" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker">
                    </div>
                </div>
                <div class="report-btn-div">
                    <button class="btn btn-secondary ml-2" onclick="filterShowReport(this)">Search</button>
                    <button class="btn btn-outline-danger ml-2 d-none" onclick="filterShowReport(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
                    <button class="btn btn-outline-info ml-2 d-none" id="btn-excel"><i class="fa fa-file-excel"></i></button>
                </div>
            </div>
        </form>
        <div id="EmpTransactions"></div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script>
        bindEmployeeDropdown();
        function loadGridData(btn) {
            var frm = $("#filter-frm");
            if (frm.valid()) {
                loadingButton(btn);
                var url = `/Reports/FetchEmpTransactions?${frm.serialize()}`;
                $('#EmpTransactions').load(url, function () {
                    unloadingButton(btn);
                    window["datatable"] = $('#EmpTransactionsReportTable').DataTable(dataTableDefaultOptions);
                    if (window["datatable"].data().any())
                        $("#btn-pdf,#btn-excel").removeClass("d-none");
                });
            }
        }
        function filterShowReport(btn, report) {
            loadGridData(btn);
            if (report) {
                var frm = $("#filter-frm").serialize();
                var url = `/Reports/EmpTransactionsReport?${frm}`;
                window.open(url);
            }
        }
    </script>
}