@model dynamic
@{
    IEnumerable<EmpLeaveMaster_GetRow_Result> data = Model.Data;
    ViewData["Title"] = Model.ReportType == "LeaveMaster" ? SharedResource["Employee Leave Master Report"] : SharedResource["Employee Annual Leave Due Report"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_LeaveMaster" model="Model" />
</body>
</html>