@model IEnumerable<GetRepo_EmpLeave_Result>
@{
    ViewData["Title"] = SharedResource["Emp Leave Analysis Report"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_LeaveAnalysis" model="Model" />
</body>
</html>