@model IEnumerable<GetRepo_EmpLoan_Analysis_Result>
@{
    ViewData["Title"] = "Emp Loan Analysis Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_LoanAnalysis" model="Model" />
</body>
</html>