@{
    ViewData["Title"] = "Pay Analysis Report";
}
<div class="card">
    <div class="card-body">
        <div class="report-btn-div mb-3">
            <button class="btn btn-outline-danger d-none" onclick="filterShowReport(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
        </div>
        <div id="PayAnalysis"></div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script>
        loadGridData();
        function loadGridData(btn) {
            loadingButton(btn);
            var url = `/Reports/FetchPayAnalysis`;
            $('#PayAnalysis').load(url, function () {
                unloadingButton(btn);
                window["datatable"] = $('#PayAnalysisReportTable').DataTable(dataTableDefaultOptions);
                if ($("table").length)
                    $("#btn-pdf,#btn-excel").removeClass("d-none");
            });
        }
        function filterShowReport(btn, report) {
            loadGridData(btn);
            if (report) {
                var url = `/Reports/PayAnalysisReport`;
                window.open(url);
            }
        }
    </script>
}