@model IEnumerable<GetRepo_FixedEarnDed_Result>
@{
    Layout = null;
    ViewData["Title"] = "Pay Analysis Report";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_PayAnalysis" model="Model" />
</body>
</html>