@model dynamic
@{
    ViewData["Title"] = SharedResource["Pay Register Report"];
    var type = Context.Request.Query["Type"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    @if (type == "Detail")
    {
        <partial name="_PayRegisterDetail" model="Model" />
    }
    else if (type == "Summary")
    {
        <partial name="_PayRegisterSummary" model="Model" />
    }
    else
    {
        <partial name="_PayRegisterFormat1" model="Model" />
    }    
</body>
</html>