@model IEnumerable<GetRepo_PaySlip_Result>
@{
    ViewData["Title"] = "Pay Slip Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_PaySlips" model="Model" />
</body>
</html>