@model IEnumerable<GetRepo_Provisions_Result>
@{
    ViewData["Title"] = "Provisions Report";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_ReportHeader" />
    <partial name="_Provisions" model="Model" />
</body>
</html>