@{
    ViewData["Title"] = SharedResource["Provisions Report"];
    var provisionTypes = new List<SelectListItem>{
        new SelectListItem{Value="GT",Text="Graduity",Selected=true},
        new SelectListItem{Value="LS",Text="Leave Salary"},
        new SelectListItem{Value="LT",Text="Leave Ticket"},
    };
}
@model ProvisionFilterModel
<div class="card">
    <div class="card-body">
        <form id="filter-frm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="BranchCd"></label>
                        <select asp-for="BranchCd" class="form-control select-picker" asp-items="ViewBag.BranchItems">
                        </select>
                        <span asp-validation-for="BranchCd" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Period"></label>
                        <input asp-for="Period" value="@ViewBag.currentMonthYear" class="form-control month-year-input" type="text" data-toggle="datetimepicker">
                    </div>
                </div>
                <div class="report-btn-div">
                    <button class="btn btn-secondary ml-2" onclick="filterShowReport(this)">Search</button>
                    <button class="btn btn-outline-danger ml-2 d-none" onclick="filterShowReport(this,true)" id="btn-pdf"><i class="fa fa-file-pdf"></i></button>
                    <button class="btn btn-outline-info ml-2 d-none" id="btn-excel"><i class="fa fa-file-excel"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProvisionType"></label>
                <div>
                    @foreach (var provision in provisionTypes)
                    {
                        <label class="radio-inline mb-0">
                            <label class="custom-control custom-radio">
                                <input type="radio" asp-for="ProvisionType" class="custom-control-input custom-control-input-primary custom-control-input-outline" id="provision_@provision.Value" value="@provision.Value" checked="@provision.Selected">
                                <label for="provision_@provision.Value" class="custom-control-label font-weight-normal">@provision.Text</label>
                            </label>
                        </label>
                    }
                </div>
            </div>
        </form>
        <div id="Provisions"></div>
    </div>
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script>
        bindEmployeeDropdown();
        function loadGridData(btn) {
            var frm = $("#filter-frm");
            if (frm.valid()) {
                loadingButton(btn);
                var url = `/Reports/FetchProvisions?${frm.serialize()}`;
                $('#Provisions').load(url, function () {
                    unloadingButton(btn);
                    window["datatable"] = $('#ProvisionsReportTable').DataTable(dataTableDefaultOptions);
                    if (window["datatable"].data().any())
                        $("#btn-pdf,#btn-excel").removeClass("d-none");
                });
            }
        }
        function filterShowReport(btn, report) {
            loadGridData(btn);
            if (report) {
                var frm = $("#filter-frm").serialize();
                var url = `/Reports/ProvisionsReport?${frm}`;
                window.open(url);
            }
        }
    </script>
}