@model CounterModel
<div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@(!string.IsNullOrEmpty(Model.Name) ? "Edit" : "Add") Counter</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="counter-frm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group disabled-container">
                            <label asp-for="Cd"></label>
                            <input asp-for="Cd" type="text" class="form-control disabled" value="@Model.Cd" />
                            <span asp-validation-for="Cd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="Active" checked>
                    <label asp-for="Active" class="custom-control-label font-weight-normal">Active</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveCounter(this)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>