@{
    IEnumerable<Token_Getrow_Result> ServingTokens = ViewBag.ServingTokens;
    IEnumerable<Token_Getrow_Result> CalledTokens = ViewBag.CalledTokens;
    var currentStatus = ViewBag.ServingTokens != null ? "Serving" : "Available";
    TokenSettingModel TokenCookie = ViewBag.TokenCookie;
}
@if (ViewBag.ServingTokens != null)
{@foreach (var item in ServingTokens)
    {
        <div class="small-box bg-info">
            <div class="inner">
                <h3 class="mb-0">@item.TokenNo</h3>
                <p class="mb-0">@item.CounterName</p>
            </div>
        </div>
    }
}