@{
    IEnumerable<Token_Getrow_Result> WaitingTokens = ViewBag.WaitingTokens;
    IEnumerable<Token_Getrow_Result> CalledTokens = ViewBag.CalledTokens;
    var CurrentToken = ViewBag.CurrentToken != null ? ViewBag.CurrentToken : "Not Serving";
    var currentStatus = ViewBag.CurrentToken != null ? "Serving" : "Available";
    TokenSettingModel TokenCookie = ViewBag.TokenCookie;    
}
<ul class="list-group list-group-flush">
    @if (ViewBag.CurrentToken != null)
    {
        <li class="list-group-item pl-0 py-2 current">
            @CurrentToken
            <span class="badge badge-info float-right">@currentStatus</span>
        </li>
    }
    @foreach (var item in WaitingTokens)
    {
        <li class="list-group-item pl-0 py-2 waiting">
            @item.TokenNo
        </li>
    }
</ul>