@model TokenModel
<div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Generate Token</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div id="token-container"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" onclick="printToken(this)" id="btn-print">Print</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>