@{
    ViewData["Title"] = SharedResource["Display"];
    IEnumerable<Token_Getrow_Result> WaitingTokens = ViewBag.WaitingTokens;
    IEnumerable<AdModel> AdFiles = ViewBag.AdFiles;
    var companyCd = User.Claims.FirstOrDefault(m => m.Type == "CompanyCd")?.Value;
    string[] imageExtensions = { ".jpg", ".jpeg", ".png", ".gif", ".bmp", ".tiff", ".ico" };
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<link href="~/css/queue-display.css" rel="stylesheet" />
<div class="card maximized-card">
    <button type="button" class="btn btn-tool" id="btn-fullscreen" onclick="toggleFullscreen()"><i class="fas fa-expand"></i></button>
    <div class="owl-carousel owl-theme" id="carousel">
        @foreach (var item in AdFiles)
        {
            var isImage = item.ImageFile.IsImage();
            if (isImage)
            {
                <div class="item"><img src="/uploads/@companyCd/carousel/@item.ImageFile" /></div>
            }
            else
            {
                <div class="item">
                    <div id="btn-bar">
                        <button type="button" class="btn btn-tool" id="btn-mute" onclick="toggleMute('@item.Cd')"><i class="fas fa-volume-mute"></i></button>
                    </div>
                    <video id="video-@item.Cd" class="w-100" controls loop autoplay muted>
                        <source src="/uploads/@companyCd/carousel/@item.ImageFile">
                        Your browser does not support the video tag.
                    </video>
                </div>
            }
        }
    </div>
    @if (ViewBag.CurrentToken != null || WaitingTokens.Count() > 0)
    {
        <div class="card" id="token-container">
            <div class="card-header">
                <div class="card-title">Top 10 Tokens</div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool d-none" data-card-widget="card-refresh" data-source="/Queue/DisplayPartial"><i class="fas fa-refresh" id="btn-refresh"></i></button>
                </div>
            </div>
            <div class="card-body pt-0"></div>
        </div>
    }
</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var owl = $(".owl-carousel");
        owl.owlCarousel({
            items: 1,
            loop: true,
            autoplay: true,
            autoplayTimeout: 20000,
            autoplayHoverPause: false,
            nav: false,
            dots: false,
        }).on('changed.owl.carousel', function (event) {
            var currentItem = event.item.index;
            $('.owl-carousel .item video').each(function () {
                this.pause();
                this.muted = true;
            });
            var currentVideo = owl.find('.owl-item').eq(currentItem).find('video');
            if (currentVideo.length) {
                currentVideo.get(0).play();
                currentVideo.get(0).muted = false;
            }
        });
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.on("ReceiveTokenCall", function (message, voiceName) {
            speak(message, voiceName);
        });
        connection.on("ReceiveRefreshCall", function () {
            $("#btn-refresh").click();
            setTimeout(function () {
                var currentCnt = $("#token-container ul li.current").length;
                var waitingCnt = $("#token-container ul li.waiting").length;
                if (!currentCnt && !waitingCnt)
                    $("#token-container").addClass("d-none");
            }, 500);
        });
        connection.on("ReceiveTokenAddCall", function () {
            $("#btn-refresh").click();
            $("#token-container").removeClass("d-none");
        });
        connection.start();
    </script>
}