@{
    ViewData["Title"] = "Tokens";
    IEnumerable<Service_GetRow_Result> Services = ViewBag.Services;
    var tokenSetting = _authService.GetTokenSetting();
}
<div class="card maximized-card">
    <div class="card-header">
        <h3 class="card-title">Click one service to Issue Token</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-compress"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div>
            @foreach (var item in Services)
            {
                <button class="btn btn-info mr-2" onclick="generateToken(this,'@item.Prefix','@item.Cd')">@item.Name</button>
            }
        </div>
    </div>
</div>
<div id="TokenModal" class="modal fade" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="token-container"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.start();
        function generateToken(btn, prefix, serviceCd) {
            loadingButton(btn);
            postAjax("/Queue/GenerateToken", { Prefix: prefix, ServiceCd: serviceCd }, function (response) {
                if (response.success) {                    
                    $("#token-container").load(`/Queue/GetTokenPreview?tokenNo=${encodeURI(response.data.tokenNo)}`, function () {
                        $("#TokenModal").modal("show");
                        showSuccessToastr(response.message);
                        setTimeout(function () {
                            $("#TokenModal").modal("hide");
                        }, 3000);
                    });
                    if ('@tokenSetting.ServiceCd' == serviceCd)
                        connection.invoke("SendTokenAddCall");
                }
                else
                    showErrorToastr(response.message);
                unloadingButton(btn);
            });
        }
        function printToken() {
            $(`#print-container`).print();
        }
    </script>
}