@{
    ViewData["Title"] = SharedResource["Token Call"];
    IEnumerable<Token_Getrow_Result> WaitingTokens = ViewBag.WaitingTokens;
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9 form-border-right">
                <div class="d-flex flex-column">
                    <div class="text-center"><h1 style="font-size: 115px;">R-1005</h1></div>
                    <div class="text-center  mb-3"><h1>Served</h1></div>
                    <div class="text-center" style="width:500px;height:300px; margin: 0 auto;">
                        <div class="d-flex justify-content-between mb-2">
                            <button class="btn btn-info" style="width: 150px;">Call Next</button>
                            <button class="btn btn-info" style="width: 150px;">Served</button>
                            <button class="btn btn-info" style="width: 150px;">No Show(Skip)</button>
                        </div>
                        <div>Counter: Room 1</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="accordion" id="TokenCallList">
                    <h2 class="mb-0">
                        <button class="btn text-secondary btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Waiting <i class="fas fa-angle-left float-right expand-icon"></i>
                        </button>
                    </h2>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#TokenCallList">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in WaitingTokens)
                            {
                                <li class="list-group-item">
                                    @item.TokenNo
                                    <button class="btn btn-sm btn-info float-right" onclick="showDepartmentModal('DEP01')">
                                        <i class="fas fa-phone"></i>
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                    <h2 class="mb-0">
                        <button class="btn text-secondary btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Called <i class="fas fa-angle-left float-right expand-icon"></i>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#TokenCallList">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">R - 1005 <span class="badge badge-info float-right">Served</span></li>
                            <li class="list-group-item">Second item <span class="badge badge-danger float-right">Not Served</span></li>
                            <li class="list-group-item">Third item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn .expand-icon {
        transition: transform 0.2s;
    }

    .btn.collapsed .expand-icon {
        transform: rotate(0deg);
    }

    .btn:not(.collapsed) .expand-icon {
        transform: rotate(-90deg);
    }

    .list-group-item {
        /* margin: .75rem 1.25rem; */
    }
</style>