@{
    ViewData["Title"] = SharedResource["Tokens"];
    IEnumerable<Service_GetRow_Result> Services = ViewBag.Services;
}
<div class="card">
    <div class="card-body">
        <span>Click one service to Issue Token</span>
        <hr />
        <div>
            @foreach (var item in Services)
            {
                <button class="btn btn-info mr-2" onclick="generateToken(this,'@item.Prefix','@item.Cd')">@item.Name</button>
            }
        </div>
    </div>
</div>
<div id="TokenModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script>
        function generateToken(btn, prefix, serviceCd) {
            loadingButton(btn);
            postAjax("/Queue/GenerateToken", { Prefix: prefix, ServiceCd: serviceCd }, function (response) {
                if (response.success) {
                    showSuccessToastr(response.message);
                    $("#token-container").load(`/Queue/GetTokenPreview?tokenNo=${encodeURI(response.data.tokenNo)}`, function () {
                        $("#TokenModal").modal("show");
                    });
                }
                else {
                    showErrorToastr(response.message);
                }
                unloadingButton(btn);
            });
        }
        function printToken() {
            $(`#print-container`).print();
        }
    </script>
}