@model TokenPrintModel
@{
    Layout = null;
    ViewData["Title"] = SharedResource["Token Print"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
</head>
<body>
    <partial name="_TokenPreview" model="Model" />
</body>
</html>