/*.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}*/

/* Custom scrollbar track */
/*.scrollbar-track-customScrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;*/ /* or use Tailwind color classes */
/*}*/

/* Custom scrollbar thumb */
/*.scrollbar-thumb-customScrollbar::-webkit-scrollbar-thumb {
    background-color: #your-color-here;*/ /* or use Tailwind color classes */
    /*border-radius: 3px;
}*/

/* For Firefox scrollbar styling */
/*.custom-scrollbar {
    scrollbar-color: #f1f1f1;
}*/
