<div class="mb-3">
    <button type="button" class="btn btn-info" onclick="showComponentModal('')">New Component</button>
</div>
<table class="table table-sm" id="ComponentsDataTable">
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Employee Name</th>
            <th>Type</th>
            <th>Component</th>
            <th>Currency</th>
            <th>Amt</th>
            <th>%Value</th>
            <th>Effective Date</th>
            <th></th>
        </tr>
    </thead>
</table>