@{
    var loggedInUser = _authService.GetLoggedInUser();
    var componentPermission = _commonService.GetPermissionsByProcessId(loggedInUser.UserCd, "HRPE4");
    var totalSalary = $"{ViewBag.Currency} {ViewBag.TotalSalary?.ToString("0")}";
}
@if (ViewBag.Basic != null)
{
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label name="Basic">Basic</label>
                <input id="BasicSalary" name="BasicSalary" class="form-control int-input" onchange="saveBasicSalary(this)" value="@ViewBag.Basic">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Total Salary</label>
                <input id="TotalSalary" class="form-control disabled text-right" value="@totalSalary">
            </div>
        </div>
    </div>
}
@if (componentPermission.UView == "Y")
{
    @if (componentPermission.UAdd == "Y")
    {
        <div class="mb-3">
            <button type="button" class="btn btn-info" onclick="showComponentModal('')" id="btn-add-component">New Component</button>
        </div>
    }
    <table class="table table-sm" id="ComponentsDataTable">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Component</th>
                <th>Currency</th>
                <th>Amt</th>
                <th>%Value</th>
                <th>Effective Date</th>
                <th></th>
            </tr>
        </thead>
    </table>
}