<div class="mb-3">
    <button type="button" class="btn btn-info" onclick="showEducationModal('')" id="btn-add-education">New Education</button>
</div>
<table class="table table-sm" id="EducationsDataTable">
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Qualification</th>
            <th>University</th>
            <th>Country</th>
            <th>Passing Year</th>
            <th>Marks/Grade</th>
            <th></th>
        </tr>
    </thead>
</table>