<div class="mb-3">
    <button type="button" class="btn btn-info" onclick="showExperienceModal('')">New Experience</button>
</div>
<table class="table table-sm" id="ExperiencesDataTable">
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Company Name</th>
            <th>Designation</th>
            <th>Date Range</th>
            <th>Country</th>
            <th></th>
        </tr>
    </thead>
</table>