@model Employee_Find_Result
<div class="row">
    <div class="col-md-6" style="border-right:1px solid #ced4da;padding-right:15px">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Personal_No"></label>
                    <input asp-for="Personal_No" class="form-control">
                    <span asp-validation-for="Personal_No" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PayMode"></label>
                    <input asp-for="PayMode" class="form-control">
                    <span asp-validation-for="PayMode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PayFreq"></label>
                    <select asp-for="PayFreq" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="PayFreq" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="BankCd"></label>
                    <select asp-for="BankCd" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="BankCd" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Basic"></label>
                    <input asp-for="Basic" class="form-control">
                    <span asp-validation-for="Basic" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="BasicCurr"></label>
                    <select asp-for="BasicCurr" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="BasicCurr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CurrCd"></label>
                    <select asp-for="CurrCd" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="CurrCd" class="text-danger"></span>
                </div>
            </div>
        </div>
        <h5 class="text-primary">Dates</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Doj"></label>
                    <input asp-for="Doj" class="form-control">
                    <span asp-validation-for="Doj" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Probation"></label>
                    <select asp-for="Probation" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="Probation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Confrm"></label>
                    <select asp-for="Confrm" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="Confrm" class="text-danger"></span>
                </div>
            </div>
        </div>
        <h5 class="text-primary">Travelling</h5>
        <div class="form-group custom-control custom-checkbox ">
            <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="FareEligible">
            <label asp-for="FareEligible" class="custom-control-label font-weight-normal">Fare Eligibe</label>
        </div>
        <h5 class="text-primary">Leave</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LvDays"></label>
                    <input asp-for="LvDays" class="form-control">
                    <span asp-validation-for="LvDays" class="text-danger"></span>
                </div>
            </div>
            @* <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Lea"></label>
                    <select asp-for="TravelSector" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="TravelSector" class="text-danger"></span>
                </div>
            </div> *@
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LvPrd"></label>
                    <select asp-for="LvPrd" class="form-control select-picker" asp-items="ViewBag.SalutationItems">
                    </select>
                    <span asp-validation-for="LvPrd" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>