@{
    ViewData["Title"] = SharedResource["Bank Accounts"];
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showBankAccountModal('')">New Bank Account</button>
        </div>
        <div class="table-responsive">
            <table class="table-sm table" id="BankAccountsDataTable">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th>Employeee Name</th>
                        <th>Ac Name</th>
                        <th>Bank</th>
                        <th>Branch</th>
                        <th>Account No</th>
                        <th>Route Code</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="BankAccountModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/employee/bank-account.js" asp-append-version="true"></script>
}