@{
    ViewData["Title"] = SharedResource["Documents"];
}
<div class="card">
    <div class="card-body">
        <partial name="_Documents" />
    </div>
</div>
<div id="DocumentModal" class="modal fade" role="dialog" tabindex='-1'></div>
<div id="PreviewModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/employee/employee-profile.js" asp-append-version="true"></script>
    <script>
        bindDocumentDataTable();
    </script>
}