@{
    ViewData["Title"] = "Employee Profiles";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <a class="btn btn-info" asp-action="Profile" asp-route-cd="">New Employee</a>
        </div>
        <div id="EmployeeTableContainer"></div>
    </div>
</div>
@section scripts {
    <script src="~/js/page/employee/employee-list.js" asp-append-version="true"></script>
}