@{
    ViewData["Title"] = "Employee Profiles";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <div class="d-flex justify-content-between my-3">
                <a class="btn btn-info mr-auto" asp-action="Profile" asp-route-cd="">New Employee</a>
                <div style="width:350px" class="select2-container">
                    <select id="EmpCd" name="EmpCd" class="form-control select2"></select>
                </div>
                <button class="btn btn-outline-info ml-3" data-toggle="modal" data-target="#EmployeeFilterModal"><i class="fa fa-filter" aria-hidden="true"></i></button>
            </div>
        </div>
        <div id="EmployeeTableContainer"></div>
    </div>
</div>
<partial name="_EmployeeFilterModal" />
@section scripts {
    <script src="~/js/page/employee/employee-list.js" asp-append-version="true"></script>
}