@{
    ViewData["Title"] = SharedResource["Employee Profiles"];
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <div class="d-flex justify-content-between my-3">              
                <div style="width:350px" class="select2-container">
                    <select id="EmpCd" class="form-control select2">
                        <option value=""></option>
                    </select>
                </div>
                <button class="btn btn-outline-info ml-3" data-toggle="modal" data-target="#EmployeeFilterModal"><i class="fa fa-filter" aria-hidden="true"></i></button>
            </div>
            <a class="btn btn-info mr-auto" asp-action="Profile" asp-route-processId="HRPE1" asp-route-cd="" id="btn-add-employee">New Employee</a>
        </div>        
        <div id="EmployeeTableContainer"></div>
    </div>
</div>
<partial name="_EmployeeFilterModal" />
@section scripts {
    <script src="~/js/page/employee/employee-list.js" asp-append-version="true"></script>
}