@{
    ViewData["Title"] = "Employee Profiles";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showBankModal('')">New Employee</button>
        </div>
        <div id="EmployeeTableContainer"></div>
    </div>
</div>
@section scripts {
    <script src="~/js/page/employee/employee-list.js" asp-append-version="true"></script>
}