@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
    var userTypeList = Html.GetEnumSelectList<UserTypeEnum>().Select(m => { m.Selected = m.Value == ((int)UserTypeEnum.User).ToString(); return m; });
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadImports" />
    <link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div id="bg-div">
        <div class="container">
            <div class="screen">
                <img src="~/images/logo.png" class="login__logo" />
                <div class="screen__content">
                    <form class="login" method="post" id="login-frm">
                        <input type="hidden" id="returnUrl" value="@Context.Request.Query["returnUrl"]" />
                        <input type="hidden" asp-for="Browser" />
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input asp-for="LoginId" class="login__input" placeholder="Username">
                        </div>
                        <span asp-validation-for="LoginId" class="text-danger"></span>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" asp-for="Password" class="login__input" placeholder="Password">
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="login__field">
                            <div>
                                @foreach (var item in userTypeList)
                                {
                                    <label class="radio-inline mb-0">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" asp-for="UserType" class="custom-control-input custom-control-input-secondary custom-control-input-outline" id="usertype_@item.Value" value="@item.Value" checked="@item.Selected">
                                            <label for="usertype_@item.Value" class="custom-control-label font-weight-normal">@item.Text</label>
                                        </div>
                                    </label>
                                }
                            </div>
                        </div>
                        <div class="login__field">
                            <div>
                                <i class="login__icon fas fa-building"></i>
                                <select asp-for="Company" class="login__input" id="login-company-dropdown" asp-items="ViewBag.CompanyItems" onchange="updateBg()">
                                </select>
                            </div>
                            <span asp-validation-for="Company" class="text-danger"></span>
                        </div>
                        <button class="button login__submit" onclick="loginUser(this)" type="button" id="btn-login">
                            <span class="button__text">Sign In</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <partial name="_Notification" />
    <partial name="_ScriptImports" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
<script>
    setBrowserInfo();
    function loginUser(btn) {
        var frm = $("#login-frm");
        if (frm.valid()) {
            loadingButton(btn);
            postAjax(`/account/login`, frm.serialize(), function (response) {
                if (response.success) {
                    var returnUrl = $("#returnUrl").val();
                    returnUrl = returnUrl ? returnUrl : "/";
                    showSuccessToastr(response.message)
                    setTimeout(function () {
                        postAjax("/home/UpdateClaim", { claimType: 'ActivityId', claimValue: response.data.activityId }, function (response) {
                            window.location.href = returnUrl;
                        });
                    }, 1000)
                    unloadingButton(btn);
                }
                else
                    showErrorToastr(response.message);
                unloadingButton(btn);
            });
        }
    }
    $('#Password').keypress(function (e) {
        if (e.keyCode === 13)
            $("#btn-login").click();
    });
    var comanyLength = $("#login-company-dropdown option").length;
    if (comanyLength <= 1)
        $("#login-company-dropdown").closest('.login__field').addClass("d-none");
    function updateBg() {
        var company = $("#login-company-dropdown").val();
        var spCompany = company.split("_");
        var CoCd = spCompany[0];
        var CoAbbr = spCompany[1];
        getAjax(`/Settings/GetCompany?CoCd=${CoCd}&CoAbbr=${CoAbbr}`, function (response) {
            var company = response.data;
            var imagePath = company.loginBg ? `/uploads/company/${company.loginBg}` : "/images/login-bg.jpg";
            $("#bg-div").css("background-image", `url('${imagePath}?${new Date()}')`);
        });
    }
    updateBg();
</script>
<style>
    #bg-div {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /*  background-blend-mode: multiply !important;
                                                --tw-bg-opacity: 0.6;
                                                background-color: rgb(55 65 81/var(--tw-bg-opacity)); */
    }
</style>
