@model ServiceModel
<div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@(!string.IsNullOrEmpty(Model.Name) ? "Edit" : "Add") Service</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="service-frm">
                <div class="form-group disabled-container">
                    <label asp-for="Cd"></label>
                    <input asp-for="Cd" type="text" class="form-control disabled" value="@Model.Cd"/>
                    <span asp-validation-for="Cd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="Active">
                    <label asp-for="Active" class="custom-control-label font-weight-normal">Active</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveService(this)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>