@{
    ViewData["Title"] = "Departments";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showDepartmentModal('')">New Department</button>
        </div>
        <table class="table table-sm" id="DepartmentsDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="DepartmentModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/department.js" asp-append-version="true"></script>
}