@{
    ViewData["Title"] = SharedResource["Branches"];
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showBranchModal('')">New Branch</button>
        </div>
        <table class="table table-sm" id="BranchesDataTable">
            <thead>
                <tr class="thead-dark">
                    <th>No.</th>
                    <th>Code</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="BranchModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/settings/branch.js" asp-append-version="true"></script>
}