@{
    ViewData["Title"] = "Branches";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-body">
                <partial name="_BranchesList" model="ViewBag.BranchesList" />
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('#BranchesDataTable').DataTable(dataTableDefaultOptions);
    </script>
}