@{
    ViewData["Title"] = "Departments";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-body">
                <partial name="_DepartmentsList" model="ViewBag.DepartmentsList" />
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('#DepartmentsDataTable').DataTable(dataTableDefaultOptions);
    </script>
}