@model IEnumerable<ActivityLogHead_Getrow_Result>
@{
    ViewData["Title"] = "Audit Log";
}
<div class="card">
    <div class="card-header">
        <form id="filter-frm">
            <div class="row">
                <div class="form-group">
                    <label>Date Range</label>
                    <input id="DateRange" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-sm" id="AuditDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Activity Id</th>
                    <th>Activity By</th>
                    <th>Ip Adress</th>
                    <th>OS</th>
                    <th>Browser</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="AuditDetailModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script>
        var timeFormat = "h:mm:ss";
        var dateFormat = $("#LocalDateFormat").val();
        var datetimeFormat = `${dateFormat} ${timeFormat}`;
        var startDate = moment().subtract(1, "month").format(dateFormat);
        var endDate = moment().format(dateFormat);
        var dateRangeOptions = dateRangePickerDefaultOptions;
        dateRangeOptions.startDate = startDate;
        dateRangeOptions.endDate = endDate;
        $('#DateRange').val(`${startDate} - ${endDate}`);
        $('#DateRange').daterangepicker(dateRangeOptions)
            .on('apply.daterangepicker', function (ev, picker) {
                var startDate = picker.startDate.format(CommonSetting.InputDateFormat);
                var endDate = picker.endDate.format(CommonSetting.InputDateFormat);
                loadAuditLogHead(startDate, endDate);
            });
        function loadAuditLogHead(startDate, endDate) {
            if ($.fn.DataTable.isDataTable('#AuditDataTable'))
                $('#AuditDataTable').DataTable().destroy();
            $("#AuditDataTable").DataTable({
                ajax: `/Settings/FetchAuditHead?startDate=${startDate}&endDate=${endDate}`,
                ordering: false,
                columns: [
                    {
                        data: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "activityId" },
                    { data: "userCd" },
                    { data: "ip" },
                    { data: "os" },
                    { data: "browser" },
                    {
                        data: function (row) {
                            var formattedDate = moment(row.startTime).format(datetimeFormat);
                            return formattedDate;
                        },
                    },
                    {
                        data: function (row) {
                            var formattedDate = row.endTime ? moment(row.endTime).format(datetimeFormat) : null;
                            return formattedDate;
                        },
                    },
                    {
                        data: function (row) {
                            return `<button class="btn btn-sm btn-info ml-2" onclick="showActivityDetailModal('${row.activityId}')">
                                                                                                 <i class="fas fa-eye"></i>
                                                                                             </button>`
                        }, "width": "40px"
                    }
                ]
            });
        }
        var picker = $('#DateRange').data('daterangepicker');
        var startDate = picker.startDate.format(CommonSetting.InputDateFormat);
        var endDate = picker.endDate.format(CommonSetting.InputDateFormat);
        loadAuditLogHead(startDate, endDate);
        function showActivityDetailModal(id) {
            $("#AuditDetailModal").load(`/Settings/AuditDetail?id=${id}`, function (response) {
                if ($.fn.DataTable.isDataTable('#AuditDetailDataTable'))
                    $('#AuditDetailDataTable').DataTable().destroy();
                $("#AuditDetailDataTable").DataTable(dataTableDefaultOptions);
                $("#AuditDetailModal").modal("show");
            });
        }
    </script>
}