@{
    ViewData["Title"] = "Users";
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <partial name="_UsersList" model="ViewBag.UsersList" />
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('#UsersDataTable').DataTable(dataTableDefaultOptions);        
    </script>
}