@{
    ViewData["Title"] = "Users";
}
<link href="~/plugins/jstree/jstree.bundle.css" rel="stylesheet" />
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showUserModal('')">New User</button>
        </div>
        <table class="table table-sm" id="UsersDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Login Id</th>
                    <th>Abbreviation</th>
                    <th>Username</th>
                    <th>Expiry Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="UserModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/settings/user.js"></script>
}