@model CompanyLeaveModel
<div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@(!string.IsNullOrEmpty(Model.Cd) ? "Edit" : "Add") Designation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form id="leave-type-frm">
                <input type="hidden" asp-for="Code" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group @(!string.IsNullOrEmpty(Model.Cd) ? "disabled-container" : "")">
                            <label asp-for="Cd"></label>
                            <input asp-for="Cd" class="form-control @(!string.IsNullOrEmpty(Model.Cd) ? "disabled" : "")" />
                            <span asp-validation-for="Cd" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SDes"></label>
                    <input asp-for="SDes" class="form-control" />
                    <span asp-validation-for="SDes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ApprLvl"></label>
                            <select asp-for="ApprLvl" class="form-control select-picker">                                
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span asp-validation-for="ApprLvl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PayFact"></label>
                            <select asp-for="PayFact" class="form-control select-picker"> 
                                <option value="1.00">1</option>
                                <option value="0.50">0.5</option>
                                <option value="0.00">0</option>
                            </select>
                            <span asp-validation-for="PayFact" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LvMax"></label>
                            <input asp-for="LvMax" class="form-control int-input" type="text" />
                            <span asp-validation-for="LvMax" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="Accrued">
                        <label asp-for="Accrued" class="custom-control-label font-weight-normal">Accrued</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="EnCash">
                        <label asp-for="EnCash" class="custom-control-label font-weight-normal">EnCash</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="ServicePrd">
                        <label asp-for="ServicePrd" class="custom-control-label font-weight-normal">ServicePeriosd</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AccrLmt"></label>
                            <input asp-for="AccrLmt" class="form-control int-input" type="text" />
                            <span asp-validation-for="AccrLmt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EnCashMinLmt"></label>
                            <input asp-for="EnCashMinLmt" class="form-control int-input" type="text" />
                            <span asp-validation-for="EnCashMinLmt" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input custom-control-input-primary custom-control-input-outline" type="checkbox" asp-for="Active">
                    <label asp-for="Active" class="custom-control-label font-weight-normal">Active</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" onclick="saveLeaveType(this)">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>