@{
    ViewData["Title"] = "Approval Processes";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showApprovalProcessModal('')">New Approval Process</button>
        </div>
        <table class="table table-sm" id="ApprovalProcessesDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>Sr. No</th>
                    <th>Company</th>
                    <th>Application</th>
                    <th>Type</th>
                    <th>Branch</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="ApprovalProcessModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/approval-process.js" asp-append-version="true"></script>
}