@{
    ViewData["Title"] = "Components";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showComponentModal('')">New Component</button>
        </div>
        <table class="table table-sm" id="ComponentsDataTable">
            <thead class="thead-dark">
                <tr>
                    <th width="5px">No.</th>
                    <th width="50">Code</th>
                    <th>Type</th>
                    <th>Amt/%</th>
                    <th>Amt Value/%</th>
                    <th>Comp. Type</th>
                    <th>Abbr.</th>
                    <th>Short Desc.</th>
                    <th>Description</th>
                    <th width="90px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="ComponentModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/component.js" asp-append-version="true"></script>
}