@{
    ViewData["Title"] = "Components";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <partial name="_ComponentsList" model="ViewBag.ComponentsList" />
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        window["datatable"] = $('#ComponentsDataTable').DataTable(dataTableDefaultOptions);
    </script>
}