@{
    ViewData["Title"] = "Documents";
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showDocumentModal('')">New Document</button>
        </div>
        <table class="table table-sm" id="DocumentsDataTable">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Document Type</th>
                    <th>Branch</th>
                    <th>Document No</th>
                    <th>Issue Date</th>
                    <th>Issue Place</th>
                    <th>Expiry Date</th>
                    <th>Ref.No</th>
                    <th>Ref.Date</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="DocumentModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/document.js" asp-append-version="true"></script>
}