@{
    ViewData["Title"] = "Overtime Rates";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <partial name="_OvertimeRatesList" model="ViewBag.OvertimeRatesList" />
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        window["datatable"] = $('#OvertimeRatesDataTable').DataTable(dataTableDefaultOptions);
    </script>
}