@model CompanyVehicleModel
@{
    var action = !string.IsNullOrEmpty(Model.Cd) ? "Edit" : "Add";
    ViewData["Title"] = $"{action} Vehicle";
}
<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="detail-tab" data-toggle="pill" href="#detail" role="tab" aria-controls="detail" aria-selected="false">General/Other Detail</a>
            </li>
            @if (action == "Edit")
            {
                <li class="nav-item">
                    <a class="nav-link " id="documents-tab" data-toggle="pill" href="#documents" role="tab" aria-controls="documents" aria-selected="true">Documents</a>
                </li>
            }
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
            <div class="tab-pane fade active show" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                <form id="vehicle-frm" method="post" asp-action="SaveVehicle">
                    <input type="hidden" asp-for="Code" />
                    <div class="row">
                        <div class="col-md-6" style="border-right:1px solid #ced4da;padding-right:15px">
                            <h4 class="text-primary">General Detail</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Cd"></label>
                                        <input asp-for="Cd" class="form-control" />
                                        <span asp-validation-for="Cd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Brand"></label>
                                        <input asp-for="Brand" class="form-control" />
                                        <span asp-validation-for="Brand" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ModelCd"></label>
                                        <select asp-for="ModelCd" class="form-control select-picker" asp-items="ViewBag.YearModelItems">
                                            
                                        </select>
                                        <span asp-validation-for="ModelCd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="SDes"></label>
                                        <input asp-for="SDes" class="form-control" />
                                        <span asp-validation-for="SDes" class="text-danger"></span>
                                    </div>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PurDt"></label>
                                        <input asp-for="PurDt" class="form-control datetimepicker-input date-input" type="text" data-toggle="datetimepicker" data-target="#PurDt" />
                                        <span asp-validation-for="PurDt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OrgPrice"></label>
                                        <input asp-for="OrgPrice" class="form-control decimal-input" />
                                        <span asp-validation-for="OrgPrice" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="DriverCd"></label>
                                        <select asp-for="DriverCd" class="form-control select-picker" asp-items="ViewBag.DriverItems">
                                            
                                        </select>
                                        <span asp-validation-for="DriverCd" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PlateColorCd"></label>
                                        <select asp-for="PlateColorCd" class="form-control select-picker" asp-items="ViewBag.PlateColorItems">
                                            
                                        </select>
                                        <span asp-validation-for="PlateColorCd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BranchCd"></label>
                                        <select asp-for="BranchCd" class="form-control select-picker" asp-items="ViewBag.BranchItems">
                                            
                                        </select>
                                        <span asp-validation-for="BranchCd" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="LocationCd"></label>
                                        <select asp-for="LocationCd" class="form-control select-picker" asp-items="ViewBag.LocationItems">
                                            
                                        </select>
                                        <span asp-validation-for="LocationCd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="StateCd"></label>
                                        <select asp-for="StateCd" class="form-control select-picker" asp-items="ViewBag.StateItems">
                                            
                                        </select>
                                        <span asp-validation-for="StateCd" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="OwnerCd"></label>
                                        <select asp-for="OwnerCd" class="form-control select-picker" asp-items="ViewBag.OwnerItems">
                                            
                                        </select>
                                        <span asp-validation-for="OwnerCd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Narr"></label>
                                <textarea asp-for="Narr" class="form-control"></textarea>
                                <span asp-validation-for="Narr" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left:15px">
                            <h4 class="text-primary">Other Detail</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="EngineNo"></label>
                                        <input asp-for="EngineNo" class="form-control" />
                                        <span asp-validation-for="EngineNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ChassisNo"></label>
                                        <input asp-for="ChassisNo" class="form-control" />
                                        <span asp-validation-for="ChassisNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="RegnNo"></label>
                                        <input asp-for="RegnNo" class="form-control" />
                                        <span asp-validation-for="RegnNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="RegnFrmDt"></label>
                                        <input asp-for="RegnFrmDt" class="form-control datetimepicker-input date-input" type="text" data-toggle="datetimepicker" data-target="#RegnFrmDt" />
                                        <span asp-validation-for="RegnFrmDt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="RegnExpDt"></label>
                                        <input asp-for="RegnExpDt" class="form-control datetimepicker-input date-input" type="text" data-toggle="datetimepicker" data-target="#RegnExpDt" />
                                        <span asp-validation-for="RegnExpDt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PetrolCard"></label>
                                        <input asp-for="PetrolCard" class="form-control" />
                                        <span asp-validation-for="PetrolCard" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PetrolCardAmt"></label>
                                        <input asp-for="PetrolCardAmt" class="form-control decimal-input" />
                                        <span asp-validation-for="PetrolCardAmt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsCo"></label>
                                        <input asp-for="InsCo" class="form-control" />
                                        <span asp-validation-for="InsCo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsPolicyNo"></label>
                                        <input asp-for="InsPolicyNo" class="form-control" />
                                        <span asp-validation-for="InsPolicyNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsAmt"></label>
                                        <input asp-for="InsAmt" class="form-control decimal-input" />
                                        <span asp-validation-for="InsAmt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsPrem"></label>
                                        <input asp-for="InsPrem" class="form-control decimal-input" />
                                        <span asp-validation-for="InsPrem" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsFrmDt"></label>
                                        <input asp-for="InsFrmDt" class="form-control datetimepicker-input date-input" type="text" data-toggle="datetimepicker" data-target="#IssueDt" />
                                        <span asp-validation-for="InsFrmDt" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsExpDt"></label>
                                        <input asp-for="InsExpDt" class="form-control datetimepicker-input date-input" type="text" data-toggle="datetimepicker" data-target="#InsExpDt" />
                                        <span asp-validation-for="InsExpDt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <button type="button" class="btn btn-info" onclick="saveVehicle(this)">Submit</button>
                        <a type="button" class="btn btn-secondary float-right" asp-action="Vehicles" asp-asp-controller="Organisation">Cancel</a>
                    </div>
                </form>
            </div>
            @if (action == "Edit")
            {
                <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                    <div class="mb-3">
                        <button class="btn btn-info" onclick="showVehicleDocumentModal('@Model.Cd','')">New Vehicle Document</button>
                    </div>
                    <table class="table table-sm" id="VehicleDocumentsDataTable">
                        <thead class="thead-dark">
                            <tr>
                                <th>No.</th>
                                <th>Document Type</th>
                                <th>Document No.</th>
                                <th>Issue Date</th>
                                <th>Place Of Issue</th>
                                <th>Expiry Date</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            }
        </div>
    </div>
    <!-- /.card -->
</div>
<div id="VehicleDocumentModal" class="modal fade" role="dialog" tabindex='-1'></div>
<div id="PreviewModal" class="modal fade" role="dialog" tabindex='-1'></div>
@section scripts {
    <script src="~/js/page/organisation/vehicle.js" asp-append-version="true"></script>
}