@{
    ViewData["Title"] = SharedResource["Working Hrs/Shift"];
}
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-info" onclick="showWorkingHourModal('')">New Working Hrs/Shift</button>
        </div>
        <table class="table table-sm" id="WorkingHoursDataTable">
            <thead class="thead-dark">
                <tr>
                    <th width="5px">No.</th>
                    <th width="50">Code</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Duty Hours</th>
                    <th>Religion</th>
                    <th>Day Type</th>
                    <th width="90px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="WorkingHourModal" class="modal fade" role="dialog" tabindex='-1'></div>

@section scripts {
    <script src="~/js/page/organisation/working-hour.js" asp-append-version="true"></script>
}